<div class="userCfg">
  <div class="user-title">
    <b>机构管理</b> 
    <div class="right-content">
      <el-row type="flex">
        <yu-button   @click="handleClick('ADD')">新增</yu-button>
        <yu-button  @click="handleClick('EDIT')">修改</yu-button>
        <yu-button key="pause" @click="handleClick('DETAIL')">查看</yu-button>
        <yu-input  v-show="!showXform" v-model="input" placeholder="请输入内容"  ></yu-input>
        <yu-input  v-show="!showXform" v-model="input" placeholder="请输入内容" ></yu-input>
        <yu-button key="resetPwd" type="text"  >高级搜索<i class="el-icon-arrow-down"></i></yu-button>
      </el-row>
      </div>

    </div>
    <div class="user-table">
        <yu-xform-q v-show="showXform" ref="reformq" :field-data="queryFields" :buttons="queryButtons" :columns="3"></yu-xform-q>
        <div>
            
        </div>
        <yu-xtable-x
            ref="reftable"
            :data-url="dataUrl" 
            @row-click="rowClick"
            request-type="POST"
            :table-columns="tableColumns">
        </yu-xtable-x>
    </div>
    <yu-xdialog
    width="80%"
    :title="dialogTitle"
    @close="closeFn"
    @open="initData"
    :visible.sync="dialogVisible"
>
    <yu-xform ref="refForm" label-width="120px"  v-model="formdata">
        <yu-xform-group :column="3">
            <yu-xform-item label="是否虚拟机构"  ctype="yu-xradio" data-code="YESNO"  name="title" :hidden="pageType!=='ADD'"></yu-xform-item>
          </yu-xform-group>
          <yu-xform-group :column="3">
            <yu-xform-item label="机构代码" name="orgCode" ctype="input" :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="机构名称" name="orgName"  ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="机构层级" name="orgLevel"  ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="上级机构代码" name="orgParentCode"   ctype="input" :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="机构英文名" name="orgEname" ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="机构简称" name="orgSimpleName" ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="机构负责人" name="orgManagerId"  ctype="input" :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="排序字段" name="orderId"  ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="机构联系电话"  name="orgTel" ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="开办日期" name="launchDate" ctype="datepicker"  data-code="USER_STATUS"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="机构邮编" name="orgZipcode"  ctype="yu-date-picker"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="机构地址"  name="orgAddress" ctype="select" data-code="YESNO" :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="地区编号"  name="distno"  ctype="select" :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="机构传真"  name="orgFax" ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="地区名称"  name="distname" ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="状态"  name="status" ctype="input" :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="位置属性"  name="location" ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="金融代码" name="finaCode" ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="机构信用联社" name="creditUnionCode"  ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="机构录入字头" name="areaCode"  ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="珠三角地区标识" name="areaName"  ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="创建时间" name="createTime"  ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="创建人" name="createUser"  ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="最后修改人" name="lastUpdateUser"  ctype="input"  :disabled="pageType=='DETAIL'"></yu-xform-item>
            <yu-xform-item label="最后修改时间" name="lastUpdateTime"  ctype="datepicker"  :disabled="pageType=='DETAIL'"></yu-xform-item>
          </yu-xform-group>
    </yu-xform>
    <div slot="footer" class="dialog-footer">
    <yu-button @click="closeFn">取 消</yu-button>
    <yu-button type="primary" @click="comfirmFn">确 定</yu-button>
    </div>
</yu-xdialog>
</div>