<!--
	@create by 
	@update by 
	@description 
-->

<div>
	<yu-xform v-model="formdata1" related-table-name="yutable" form-type="search" :remove-empty="true">
    <yu-xform-group :column="3">
      <yu-xform-item label="借据编号" ctype="input" name="title" fuzzy-query="both"></yu-xform-item>
      <yu-xform-item label="客户编号" ctype="input" name="title" fuzzy-query="both"></yu-xform-item>
      <yu-xform-item label="客户名称" ctype="input" name="title" fuzzy-query="both"></yu-xform-item>
      <yu-xform-item label="检查状态" ctype="select" name="title" :options="options1"></yu-xform-item>
      <yu-xform-item label="审批状态" ctype="select" name="title" :options="options2"></yu-xform-item>
      <yu-xform-item label="所属机构" ctype="input" name="title" fuzzy-query="both"></yu-xform-item>
    </yu-xform-group>
  </yu-xform>
  <panel title="贷后首次检查列表"></panel>
  <div class="yu-toolBar">
    <el-button-group>
      <el-button @click="check">检查</el-button>
      <el-button @click="view">查看</el-button>
    </el-button-group>
  </div>
  <el-row>
    <el-col>
      <yu-xtable
        index
        border
        row-number
        ref="yutable"
        :data-url="dataUrl"
        style="width: 100%">
        <yu-xtable-column
          align="center"
          v-for="(item,index) in tableTitle"
          :key="index"
          :prop="item.prop"
          :label="item.label">
        </yu-xtable-column>
      </yu-xtable>
    </el-col>
  </el-row>
</div>