<yu-collapse v-model="activeNames">
  <yu-collapse-item title="合同基本信息" name="1">
    <yu-button-group>
      <yu-button v-if="checkPermission('detail')" type="primary" icon="document" @click="btnFn('VIEW')">查看</yu-button>
    </yu-button-group>
  </yu-collapse-item>
  <yu-xtable ref="refTable" :data-url="dataUrl" :base-params="baseParams" row-number>
    <yu-xtable-column v-for="(item, index) in tableFields" :key="index" :label="item.label" :prop="item.prop"
      :data-code="item.dataCode">
    </yu-xtable-column>
  </yu-xtable>
</yu-collapse>
<yu-xdialog title="引入最高额担保合同" :visible.sync="isShowImport" @close="closeImport">
  <yu-xform ref="refImportForm" v-model="importFormData" label-width="140px">
    <yu-xform-group>
      <yu-xform-item v-for="(item,index) in importFormFields" :key="index" :label="item.label" :ctype="item.ctype"
        :name="item.name" :disabled="item.disabled" :rules="rule" :icon="item.icon" :on-icon-click="item.iconClickFn"
        :value-format="item.valueFormat"></yu-xform-item>
    </yu-xform-group>
  </yu-xform>
  <!-- 查询重置 -->
  <yu-xtable ref="refTable" :data="tableData" row-number :data-url="dataUrl" :base-params="baseParams">
    <yu-xtable-column v-for="(item,index) in tableFields" :key="index" :label="item.label" :prop="item.prop">
    </yu-xtable-column>
  </yu-xtable>
  <span slot="footer" class="dialog-footer">
    <yu-button type="primary" @click="importFn">确认引入</yu-button>
    <yu-button @click="closeImport">返回</yu-button>
  </span>
</yu-xdialog>
