<yu-collapse v-model="activeNames">
  <yu-collapse-item title="合同基本信息" name="1">
    <yu-button-group>
      <yu-button v-if="checkPermission('create')" type="primary" icon="plus" @click="btnFn('ADD')">新增</yu-button>
      <yu-button v-if="checkPermission('edit')" type="primary" icon="edit" @click="btnFn('EDIT')">修改</yu-button>
      <yu-button v-if="checkPermission('delete')" type="primary" icon="yx-bin" @click="btnFn('DELETE')">删除</yu-button>
      <yu-button v-if="checkPermission('detail')" type="primary" icon="document" @click="btnFn('VIEW')">查看</yu-button>
      <yu-button v-if="checkPermission('import')" type="primary" icon="plus" @click="btnFn('IMPORT')">引入最高额担保合同
      </yu-button>
      <yu-button v-if="checkPermission('cancelImport')" type="primary" icon="edit" @click="btnFn('CANCELIM')">取消引入
      </yu-button>
    </yu-button-group>
    <yu-xtable ref="refTable" :data="tableData" row-number :data-url="dataUrl" :base-params="baseParams">
      <yu-xtable-column label="担保合同编号" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="担保合同类型" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="担保方式" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="担保合同金额(元)" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="合同起始日" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="合同到期日" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="担保合同状态" prop="" data-code="item.dataCode"></yu-xtable-column>
    </yu-xtable>
  </yu-collapse-item>
</yu-collapse>
<yu-xdialog title="新增一般担保合同" :visible.sync="isShowAdd" @close="closeAdd">
  <yu-xform ref="refAddForm" v-model="addFormData" label-width="140px">
    <yu-xform-group>
      <yu-xform-item v-for="(item,index) in addFormFields" :key="index" :label="item.label" :ctype="item.ctype"
        :name="item.name" :disabled="item.disabled" :rules="rule" :icon="item.icon" :on-icon-click="item.iconClickFn"
        :value-format="item.valueFormat"></yu-xform-item>
    </yu-xform-group>
  </yu-xform>
  <span slot="footer" class="dialog-footer">
    <yu-button type="primary" @click="nextFn">下一步</yu-button>
    <yu-button @click="closeAdd">返回</yu-button>
  </span>
</yu-xdialog>
