<yu-collapse v-model="activeNames">
  <yu-collapse-item title="审批操作" name="1">
    <yu-xform ref="refForm" v-model="formdata" label-width="140px">
      <yu-xform-group :span="1">
        <yu-xform-item v-for="(item,index) in formFields" :key="index" :label="item.label" :name="item.name"
          :ctype="item.ctype" :rules="item.rules" :data-code="item.dataCode">
        </yu-xform-item>
      </yu-xform-group>
    </yu-xform>
    <yu-button-group>
      <slot name="btns"></slot>
    </yu-button-group>
  </yu-collapse-item>
  <yu-collapse-item title="流程审批历史" name="1">
    <aprv-his></aprv-his>
  </yu-collapse-item>
</yu-collapse>
