<!--
	@create by 
	@update by 
	@description 
-->
<div>
	<yu-xform v-model="formdata1" related-table-name="yutable" form-type="search" :remove-empty="true">
    <yu-xform-group :column="3">
      <yu-xform-item label="客户名称" ctype="input" name="title" fuzzy-query="both"></yu-xform-item>
      <yu-xform-item label="客户编号" ctype="input" name="title" fuzzy-query="both"></yu-xform-item>
      <yu-xform-item label="所属机构" ctype="input" name="title" fuzzy-query="both"></yu-xform-item>
      <yu-xform-item label="借据编号" ctype="input" name="title" fuzzy-query="both"></yu-xform-item>
      <yu-xform-item label="合同编号" ctype="input" name="title" fuzzy-query="both"></yu-xform-item>
    </yu-xform-group>
  </yu-xform>
  <div>风险分类台账列表</div>
  <yu-button type="primary" @click="exportFn">导出</yu-button>
  <yu-xtable
    index
    border
    row-number
    ref="yutable"
    :data-url="dataUrl"
    style="width: 100%">
    <yu-xtable-column
      align="center"
      v-for="(item,index) in tableTitle"
      :key="index"
      :prop="item.prop"
      :label="item.label">
    </yu-xtable-column>
  </yu-xtable>
</div>