<yu-collapse v-model="activeNames">
  <yu-collapse-item title="合同基本信息" name="1">
    <yu-button-group>
      <!-- <yu-button v-if="checkPermission('create')" type="primary" icon="plus" @click="importFn">引入</yu-button>
      <yu-button v-if="checkPermission('edit')" type="primary" icon="edit" @click="cancelImportFn">取消引入</yu-button> -->
      <yu-button v-if="checkPermission('create')" type="primary" icon="plus" @click="addFn">新增</yu-button>
      <yu-button v-if="checkPermission('edit')" type="primary" icon="edit" @click="modifySimFn">修改</yu-button>
      <yu-button v-if="checkPermission('delete')" type="primary" icon="yx-bin" @click="deleteFn">删除</yu-button>
      <yu-button v-if="checkPermission('detail')" type="primary" icon="document" @click="infoFn">查看</yu-button>
    </yu-button-group>
  </yu-collapse-item>
  <yu-xtable ref="refTable" :data="tableData" row-number :data-url="dataUrl" :base-params="baseParams">
    <yu-xtable-column label="担保合同编号" prop="" data-code="item.dataCode"></yu-xtable-column>
    <yu-xtable-column label="担保合同类型" prop="" data-code="item.dataCode"></yu-xtable-column>
    <yu-xtable-column label="担保方式" prop="" data-code="item.dataCode"></yu-xtable-column>
    <yu-xtable-column label="担保合同金额(元)" prop="" data-code="item.dataCode"></yu-xtable-column>
    <yu-xtable-column label="合同起始日" prop="" data-code="item.dataCode"></yu-xtable-column>
    <yu-xtable-column label="合同到期日" prop="" data-code="item.dataCode"></yu-xtable-column>
    <yu-xtable-column label="担保合同状态" prop="" data-code="item.dataCode"></yu-xtable-column>
  </yu-xtable>
</yu-collapse>
