<!--
	@create by 
	@update by 
	@description 
-->

<div>
  <div>
    <p>风险分类调整申请信息</p>
    <yu-xform ref="refFormDemo" label-width="120px" v-model="customForm">
      <yu-xform-group>
        <yu-xform-item label="申请流水号" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="借据编号" ctype="custom" name="custom" colspan="10">
          <yu-input v-model="customTitle"></yu-input>
        </yu-xform-item>
        <yu-xform-item label="" ctype="custom" name="custom" colspan="2">
          <yu-button type="primary">选择</yu-button>
        </yu-xform-item>
        <yu-xform-item label="客户编号" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="客户名称" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="证件类型" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="证件号码" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="产品名称" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="合同编号" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="调整前五级分类" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="调整后五级分类" ctype="yu-xselect" name="title" :options="options" rules="required"></yu-xform-item>
        <yu-xform-item label="申请调整理由" ctype="textarea" name="title" rules="required"></yu-xform-item>
      </yu-xform-group>
    </yu-xform>
  </div>
  <div>
    <p>登记信息</p>
    <yu-xform ref="refFormDemo" label-width="120px" v-model="customForm">
      <yu-xform-group>
        <yu-xform-item label="登记人" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="登记机构" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="管户人" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="管户机构" ctype="input" name="title"></yu-xform-item>
        <yu-xform-item label="登记时间" ctype="input" name="title"></yu-xform-item>
      </yu-xform-group>
    </yu-xform>
  </div>
  <div>
    <yu-button type="primary" @click="save">保存</yu-button>
    <yu-button type="primary" @click="submit">提交</yu-button>
    <yu-button type="primary" @click="back">返回</yu-button>
  </div>
</div>