<main-page :have-tab="true" :tab-params="tabParams" :form-params="formParams" :table-params="tableParams"
  @tab-click="tabClick">
  <template slot='btn'>
    <yu-button v-if="checkPermission('create')" type="primary" icon="plus" @click="btnFn('ADD')">新增</yu-button>
    <yu-button v-if="checkPermission('edit')" type="primary" icon="edit" @click="btnFn('ETID')">修改</yu-button>
    <yu-button v-if="checkPermission('delete')" type="primary" icon="yx-bin" @click="btnFn('DELETE')">删除</yu-button>
    <yu-button v-if="checkPermission('detail')" type="primary" icon="document" @click="btnFn('VIEW')">查看</yu-button>
  </template>
</main-page>
<!-- <yu-tabs v-model="activeName" @tab-click="handleClick">
  <yu-tab-pane name="1" label="5555">
    <zhfp-route-div ref="hhhh" route-id="LoanThirdGuarCtrC" name="LoanThirdGuarCtrC" :route-data="{}">
    </zhfp-route-div>
  </yu-tab-pane>
  <yu-tab-pane name="2" label="5555">
    <process-aprv></process-aprv>
  </yu-tab-pane>
</yu-tabs> -->
<guide-page :dialog-title="dialogTitle" :dialog-show.sync="isShowAddAppli" :form-params="dFormParams" @next-fn="nextFn">
</guide-page>
<!-- <select-page dialog-title="授信合同新增申请" :dialog-show.sync="isShowAddAppli" :form-params="formParams"
  :table-params="tableParams" @select-fn="selectFn"></select-page> -->
