<yu-collapse v-model="activeNames">
  <yu-collapse-item title="审批操作" name="1">
    <yu-xform ref="refForm" v-model="formdata" label-width="140px">
      <yu-xform-group :span="1">
        <yu-xform-item label="审批结论" name="" ctype="select" :rules="['']">
        </yu-xform-item>
        <yu-xform-item label="意见" name="" ctype="textarea" :rules="['']">
        </yu-xform-item>
      </yu-xform-group>
    </yu-xform>
    <yu-button-group>
      <yu-button @click="tempSave">返回</yu-button>
      <yu-button type="primary" @click="tempSave">保存</yu-button>
      <yu-button type="primary" @click="tempSave">提交</yu-button>
      <yu-button type="primary" @click="tempSave">签收</yu-button>
      <yu-button type="primary" @click="tempSave">撤销签收</yu-button>
      <yu-button type="primary" @click="tempSave">发起会办</yu-button>
    </yu-button-group>
  </yu-collapse-item>
  <yu-collapse-item title="流程审批历史" name="1">
    <yu-xtable ref="refTable" :data="tableData" row-number :data-url="dataUrl" :base-params="baseParams">
      <yu-xtable-column label="审批节点名称" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="办理人员名称" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="审批时间" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="办理人员" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="审批节点编号" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="审批意见" prop="" data-code="item.dataCode"></yu-xtable-column>
      <yu-xtable-column label="审批结果" prop="" data-code="item.dataCode"></yu-xtable-column>
    </yu-xtable>
  </yu-collapse-item>
</yu-collapse>
