<div>
  <yu-row :gutter="16">
    <yu-col :span="5">
      <yu-tree ref="refTree" :data="treeData" node-key="id" highlight-current default-expand-all @node-click="clickNode"
        :current-node-key="2">
      </yu-tree>
    </yu-col>
    <yu-col :span="19">
      <yu-collapse v-model="activeNames">
        <yu-collapse-item title="基本信息" name="1">
          <yu-xform ref="refForm" v-model="formdata" label-width="140px" :disabled="true">
            <yu-xform-group>
              <yu-xform-item label="申请流水号" name="serNo" icon="">
              </yu-xform-item>
              <yu-xform-item label="操作类型" name="oprType">
              </yu-xform-item>
              <yu-xform-item label="合作项目类型" name="projectType">
              </yu-xform-item>
              <yu-xform-item label="合作项目名称" name="projectNameCn" ctype="select" data-code="ctrType">
              </yu-xform-item>
              <yu-xform-item label="合作项目编号" name="projectCode">
              </yu-xform-item>
              <yu-xform-item label="是否全行适用" name="isAllOrg" ctype="select" data-code="shifou">
              </yu-xform-item>
              <yu-xform-item label="管理部门" name="managementDept" ctype="select" data-code="shifou">
              </yu-xform-item>
              <yu-xform-item label="地区分布" name="" ctype="select" data-code="shifou">
              </yu-xform-item>
            </yu-xform-group>
          </yu-xform>
        </yu-collapse-item>
        <yu-collapse-item title="合作项目适用机构" name="1">
          <yu-button-group>
            <yu-button type="primary" @click="tempSave">选取</yu-button>
            <yu-button type="primary" @click="tempSave">删除</yu-button>
            <yu-button type="primary" @click="tempSave">全部删除</yu-button>
          </yu-button-group>
          <yu-xtable ref="refTable" :data="tableData" row-number :data-url="dataUrl" :base-params="baseParams">
            <yu-xtable-column label="适用机构编号" prop="inputBrId" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="适用机构名称" prop="orgName" data-code="item.dataCode"></yu-xtable-column>
          </yu-xtable>
        </yu-collapse-item>
        <yu-collapse-item title="项目合作信息" name="1">
          <yu-xform ref="refForm" v-model="formdata" label-width="140px" :disabled="true">
            <yu-xform-group>
              <yu-xform-item label="总合作额度(元)" name="">
              </yu-xform-item>
              <yu-xform-item label="是否长期合作" name="isLongTermCooperatioin" data-code="shifou">
              </yu-xform-item>
              <!-- 非长期合作需要录入合作期限 -->
              <yu-xform-item label="合作期限(月)" name="cooperationMonth" :rules="['int']">
              </yu-xform-item>
              <yu-xform-item label="合作起始日" name="startDate" ctype="datepicker">
              </yu-xform-item>
              <yu-xform-item label="合作到期日" name="endDate" ctype="datepicker">
              </yu-xform-item>
              <yu-xform-item label="单户合作限额(元)" name="acctMaxAmt" :rules="['money']">
              </yu-xform-item>
              <yu-xform-item label="单笔业务合作限额(元)" name="busiMaxAmt" :rules="['money']">
              </yu-xform-item>
              <yu-xform-item label="已用合作额度(元)" name="usedLimit" disabled :rules="['money']">
              </yu-xform-item>
              <yu-xform-item label="可用合作额度(元)" name="usableLimit" disabled :rules="['money']">
              </yu-xform-item>
              <yu-xform-item label="风险分担比例" name="riskSharingRate" :rules="['lv']">
              </yu-xform-item>
              <yu-xform-item label="最高补偿金额(元)" name="maxCompensationAmount" :rules="['money']">
              </yu-xform-item>
              <yu-xform-item label="其他相关说明" name="otherDescription">
              </yu-xform-item>
            </yu-xform-group>
          </yu-xform>
        </yu-collapse-item>
        <yu-collapse-item title="合作方信息" name="1">
          <yu-button-group>
            <yu-button type="primary" @click="tempSave">引入</yu-button>
            <yu-button type="primary" @click="tempSave">删除</yu-button>
          </yu-button-group>
          <yu-xtable ref="refTable" :data="tableData" row-number :data-url="dataUrl" :base-params="baseParams">
            <yu-xtable-column label="合作方编号" prop="partnerCode" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="合作方名称" prop="partnerName" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="合作方类型" prop="partnerType" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="证件类型" prop="certType" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="证件号码" prop="certNo" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="是否缴存保证金" prop="" data-code="shifou"></yu-xtable-column>
          </yu-xtable>
        </yu-collapse-item>
        <yu-collapse-item title="保证金信息" name="1">
          <yu-xtable ref="refTable" :data="tableData" row-number :data-url="dataUrl" :base-params="baseParams">
            <yu-xtable-column label="合作方名称" prop="partnerName" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="保证金比例%" prop="" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="保证金放大倍数" prop="" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="保证金缴存方式" prop="" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="保证金主账号" prop="" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="保证金二级账号" prop="" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="保证金三级账号" prop="" data-code="item.dataCode"></yu-xtable-column>
            <yu-xtable-column label="当前保证金余额(元)" prop="" data-code="item.dataCode"></yu-xtable-column>
          </yu-xtable>
        </yu-collapse-item>
        <yu-collapse-item title="登记信息" name="1">
          <yu-xform ref="refForm" v-model="formdata" label-width="140px" ctype="textarea">
            <yu-xform-group>
              <yu-xform-item label="登记人" name="inputId">
              </yu-xform-item>
              <yu-xform-item label="登记机构" name="inputBrId">
              </yu-xform-item>
              <yu-xform-item label="登记日期" name="inputDate" ctype="datepicker">
              </yu-xform-item>
            </yu-xform-group>
          </yu-xform>
        </yu-collapse-item>
      </yu-collapse>
      <yu-button type="primary" @click="tempSave">暂存</yu-button>
      <yu-button type="primary" @click="tempSave">保存</yu-button>
      <yu-button type="primary" @click="tempSave">提交</yu-button>
      <yu-button type="primary" @click="tempSave">返回</yu-button>
    </yu-col>
  </yu-row>
</div>
