<div>
  <yu-tabs v-model="activeName">
    <yu-tab-pane label="合作方信息" name="1">
      <yu-collapse v-model="activeNames">
        <yu-collapse-item title="基本信息" name="1">
          <yu-xform ref="refForm" v-model="formdata" label-width="140px" :disabled="true">
            <yu-xform-group>
              <yu-xform-item label="合作方编号" name="" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="合作方类型" name="" dataCode="hzflx" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="合作方名称" name="" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="证件类型" name="" dataCode="zjlx" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="证件号码" name="" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="成立日期" name="" ctype="datepicker" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="注册资本(元)" name="" dataCode="czlx" :rules="['int']">
              </yu-xform-item>
              <yu-xform-item label="法定代表人" name="" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="经营范围" name="" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="经营地址" name="" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="注册地址" name="" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="合作说明" name="" ctype="textarea" :rules="rule">
              </yu-xform-item>
              </yu-xform-item>
            </yu-xform-group>
          </yu-xform>
        </yu-collapse-item>
        <yu-collapse-item title="登记信息" name="1">
          <yu-xform ref="refForm" v-model="formdata" label-width="140px" :disabled="isDisabled">
            <yu-xform-group>
              <yu-xform-item label="登记人" name="inputId" :disabled="true" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="登记机构" name="inputBrId" :disabled="true" :rules="rule">
              </yu-xform-item>
              <yu-xform-item label="登记日期" name="inputDate" ctype="datepicker" :disabled="true" :rules="rule">
              </yu-xform-item>
            </yu-xform-group>
          </yu-xform>
        </yu-collapse-item>
      </yu-collapse>
    </yu-tab-pane>
    <yu-tab-pane label="影像信息" name="2">

    </yu-tab-pane>
  </yu-tabs>
  <yu-button type="primary" @click="tempSave">保存</yu-button>
  <yu-button type="primary" @click="tempSave">返回</yu-button>
</div>
